@media screen and (max-width: 769px) {
    #gnb {
        display: none;
    }

    #intro .left {
        left: 15%;
        font-size: 3em;
    }

    #intro .right {
        right: 15%;
        font-size: 3em;
    }

    #intro>ul {
        width: 40%;
    }

    #about .face {
        width: 250px;
        height: 250px;
        margin: 5% auto 0;
    }

    #about .face .circle {
        width: 220px;
        height: 220px;
    }

    #about .sen1 {
        top: 50%;
        left: 10%;
        font-size: 1.2rem;
        line-height: 30px;
    }

    #about .sen2 {
        top: 60%;
        left: 10%;
        font-size: 1.2rem;
        line-height: 30px;
    }

    #about .sen3 {
        top: 70%;
        left: 10%;
        font-size: 1.2rem;
        line-height: 30px;
    }

    #about .wit {
        display: none;
    }

    #skill>ul>li>ul>li {
        font-size: 1.3rem;
        padding: 1% 5% 1%;
    }

    #project .projects {
        width: 90%;
        height: 200px;
        margin: 5% auto 0;
    }
   
    #project .projects .project .fullpage{

        height: 130px;
    }
    #project .btnWrap{
        width: 98%;
        margin-top: -24%;
    }
    

    .skill,
    .sentence {
        display: none;
    }

    #project .project .fullpage {
        width: 80%;
        height: 190%;

    }

    #project .project .tabWrap {
        width: 80%;
        height: 20px;
        margin: 1% auto;
    }

    #project .project .tab {
        height: 20px;

    }

    #project .project>.btn {
        width: 80%;
        margin: 1% auto;
        font-size: 1.1rem;
    }

    #project .project>.btn>button {
        width: 30%;
        height: 20px;
        margin-right: 1%;
        border-radius: 10px;
        font-size: 1rem;
    }

}